<mat-card
  class="border-2 p-0"
  [ngClass]="{
    'border-blue-500 bg-blue-100': counter <= 180 && counter >= 121,
    'border-yellow-500 bg-yellow-100': counter <= 120 && counter >= 61,
    'border-red-500 bg-red-100': counter <= 60 && counter >= 0
  }"
>
  <div class="h-4 grid grid-cols-5 content-center">
    <div class="flex justify-center items-center text-lg font-medium">
      #{{ ticket?.ticketDate }}
    </div>
    <div
      class="flex justify-center items-center text-lg font-medium capitalize truncate ..."
    >
      {{ ticket?.callerName }}
    </div>
    <div class="flex justify-center items-center text-md font-medium">
      {{ ticket?.callerPhone }}
    </div>
    <div class="flex justify-center items-center text-ellipsis ...">
      {{ ticket?.address | addressPipe }}
    </div>
    <div class="flex justify-center items-center text-3xl font-semibold">
      {{ counter | formatTime }}
      <app-notify
        *ngIf="counter <= 60 && counter >= 0"
        notifyClass="mx-2 text-yellow-500"
      ></app-notify>
    </div>
  </div>
</mat-card>
